h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: left
}

#bitcoin {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-position: under;
}

#stupid {
  text-decoration: underline;
  text-decoration-color: blue;
  text-underline-position: under;
}

#amount {
  text-decoration: underline;
  text-decoration-color: green;
  text-underline-position: under;
}
